.optionContainer {
    padding: 0.2rem;
    text-align: center;
    border: 0.1rem solid #eee;
    margin: 0.1rem;
    border-radius: 0.2rem;
    cursor: move;
    opacity: 0.8;
}

.optionContainer:hover {
    opacity: 1;
}