.optionContainer {
    padding: 0.4rem;
    text-align: center;
    border: 0.1rem solid #eee;
    margin: 0.3rem;
    border-radius: 0.5rem;
    cursor: move;
}

.optionContainer:hover {
    background-color: #bef3b9
}